/*
 * Spinner
 * ========================================================================== */
@keyframes spinner {
  to {transform: rotate(360deg);}
}

@-webkit-keyframes spinner {
  to {-webkit-transform: rotate(360deg);}
}

.Spinner-overlay {
  opacity: 0.66;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-color: #000;
}

.Spinner-icon {
  min-width: 30px;
  min-height: 30px;
}

.Spinner-icon:before {
  content: 'Loading…';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 30px;
  margin-top: -75px;
  margin-left: -18px;
  z-index: 2;
}

.Spinner-icon:not(:required):before {
  content: '';
  border-radius: 50%;
  border: 3px solid #ccc;
  border-top-color: #03ade0;
  animation: spinner 2s linear infinite;
}



